@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@
@*<link href="~/Content/font-awesome.min.css" rel="stylesheet" />*@
<address>
    <i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i> (21)97137-6098
</address>

<address>
    <i class="fa fa-envelope " aria-hidden="true"></i> <a href="mailto:adrianagaribalde@gmail.com">adrianagaribalde@gmail.com</a><br />
</address>