@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Teste</h1>
        <p class="lead">Desenvolvedor(a) Jr Asp.Net Mvc</p>
    </div>
</div>

